node_modules
logs
data

# User-specific stuff:
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml

## File-based project format:
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml
